<div class="dash-footer-spacer"></div>
<footer class="dash-simple-footer">
    Made with <span style="color:#ed4245;">&#9829;</span> by <a href="https://fenri-hoshimori.my.id/" target="_blank" rel="noopener">Fenri Hoshimori</a> &nbsp;&middot;&nbsp; &#10022;
</footer>
